@use "./reset.scss" as *;
@use "./vars.scss" as *;
@include reset;
//黑色主题配色
$head-dark: #2c3e50;
$left-background-dark: #545c64;
$active-left-background-dark: #434a50;
$active-text-color-dark: #ffd04b;
$text-color-dark: #fff;

$content-area-background-color-dark: #2d2d2d;
$content-background-dark: #3d3d3d;
$content-color-dark: #ffffff;

//浅色模式配色
$head-light: #eeeeee;                     
$left-background-light: #f0f4f8;          
$active-text-color-light: #3a8ee6;        
$active-left-background-light: #e0f0ff;   
$text-color-light: #2c3e50;               
$content-area-background-color-light: #f9f9f9; 
$content-background-light: #ffffff;       
$content-color-light: #333333;            